@{
    ViewBag.Title = "LoginPage";
}
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

<style>
    * {
        color: #fff;
    }

    body {
        background-image: url('../../Content/loginPage.jpeg');
        background-repeat: no-repeat;
        background-size: cover;
        width: 100%;
        height: 100vh;
    }

    .form-container {
        border: 1px solid #fff;
        padding: 50px 60px;
        margin-top: 20vh;
        -webkit-box-shadow: -1px 4px 26px 11px rgba(0,0,0,0.75);
        -moz-box-shadow: -1px 4px 26px 11px rgba(0,0,0,0.75);
        box-shadow: -1px 4px 26px 11px rgba(0,0,0,0.75);
    }
</style>
<div class="container-fluid bg">
    <div class="row">
        <div class="col-md-4 col-sm-4 col-xs-12"></div>
        <div class="col-md-4 col-sm-4 col-xs-12">
            <form class="form-container" id="loginForm">
                <h1>Quiz App</h1>
                <div class="form-group">
                    <label for="email">Email</label>
                    <input type="email" name="email" id="email" class="form-control" placeholder="Email" />
                </div>
                <div class="form-group">
                    <label for="password">Password</label>
                    <input type="password" name="password" id="password" class="form-control" placeholder="Password" />
                </div>
                <div class="form-check">
                    <input type="checkbox" class="form-check-input" onclick="showPassword();" id="showPasswordCheckBox" />
                    <label class="form-check-label" for="showPasswordCheckBox">Show Password</label>
                </div>
                <button type="button" class="btn btn-success btn-block" onclick="SaveLoginForm();">Login</button>
                <a href="@Url.Action("GetAllCategories","Category")" style="color:white;float:right;margin-top:8px;">Start without membership</a>
            </form>
        </div>
        <div class="col-md-4 col-sm-4 col-xs-12"></div>
    </div>
</div>

<script>
    function showPassword() {
        var password = document.getElementById("password");
        password.type === "password" ? password.type = "text" : password.type = "password";
    }

    $("#loginForm").validate({
        errorElement: "errorElement",
        rules: {
            email: {
                required: true,
                email: true,
                maxlength: 100
            },
            password: {
                required: true,
                rangelength: [6,30]
            }
        }
    });

    //----------------------------------For Turkish Members-------------------------------
    //$.validator.messages.required = 'Bu alanı boş bırakamazsınız.';
    //$.validator.messages.email = "Lütfen geçerli bir mail adresi giriniz.";
    //$.validator.messages.rangelength = "Lütfen {0} - {1} aralığında karakter giriniz."
    //$.validator.messages.maxlength = "{0} karakterden daha fazlasını kullanmayınız."
    //-------------------------------------------------------------------------------------

    function SaveLoginForm() {
        var isFormFilled = $("#loginForm").valid();
        if (isFormFilled) {
            let email = document.getElementById("email").value;
            let password = document.getElementById("password").value;

            $.ajax({
                url: "@Url.Action("SaveLoginPage", "Home")",
                type: "POST",
                data: { "email": email, "password": password },
                success: function (response) {
                    if (response == "True") {
                        window.location.href = "@Url.Action("GetAllCategories","Category")";
                    }
                    else {
                        swal({
                            title: 'Oops...',
                            text: 'Please check your information..',
                            icon: 'error',
                            button: 'Try again',
                        });
                    }
                }
            });
        }
        else {
            swal({
                title: 'Oops...',
                text: 'Please fill required fields..',
                icon: 'error',
                button: 'Try again',
            });
        }
    }
</script>