
@{
    ViewBag.Title = "LoginPage";
}
<style>
    body {
        background-color: #4679BD;
    }
    .category-box {
        position: relative;
        width: 100%;
        overflow: hidden;        
        content: "";
        display: block;
        padding-top: 100%;
        border-radius: 40px;
    }

    .category-content {
        position: absolute;
        top: 30%;
        left: 0;
        bottom: 0;
        right: 0;
        color: white;
        text-align: center;
    }

    .category-bg-yellow {
        background: #e6e600;
    }
    .category-bg-red {
        background: #ff0000;
    }
    .category-bg-green {
        background: #33cc33;
    }

</style>
<div class="container" style="margin-top:100px;">
    <div class="row">
        <div class="col-md-4">
            <div class='category-box category-bg-red'>
                <div class='category-content'>
                    <h3>Breaking Bad</h3>
                    <h5>Number of Questions: 5</h5>
                    <h5>Hardness Level: Hard</h5>
                    <button class="btn btn-default form-control" style="max-width:50%;" type="button" onclick="">Let's try it!</button>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class='category-box category-bg-yellow'>
                <div class='category-content'>
                    <h3>Breaking Bad</h3>
                    <h5>Number of Questions: 5</h5>
                    <h5>Hardness Level: Medium</h5>
                    <button class="btn btn-default form-control" style="max-width:50%;" type="button" onclick="">Let's try it!</button>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class='category-box category-bg-green'>
                <div class='category-content'>
                    <h3>Furkan Şahin'in Favori Rengi</h3>
                    <h5>Number of Questions: 5</h5>
                    <h5>Hardness Level: Easy</h5>
                    <button class="btn btn-default form-control" style="max-width:50%;" type="button" onclick="">Let's try it!</button>
                </div>
            </div>
        </div>
    </div>
</div>

