@{
    ViewBag.Title = "LoginPage";
}
<script src="~/Scripts/jquery-3.3.1.min.js"></script>
@*<style>
        .login-box {
            position: relative;
            display: block;
            background-color: black;
            margin-top: 100px;
            min-height: 400px;
            text-align: center;
            color: white;
            opacity: 0.25;
        }

        .form-elements {
            display: unset !important;
            max-width: 220px;
        }
    </style>*@
<style>
    * {
        color: #fff;
    }

    body {
        background-image: url('../../Content/loginPage.jpeg');
        background-repeat: no-repeat;
        background-size: cover;
        width: 100%;
        height: 100vh;
    }

    .form-container {
        border: 1px solid #fff;
        padding: 50px 60px;
        margin-top: 20vh;
        -webkit-box-shadow: -1px 4px 26px 11px rgba(0,0,0,0.75);
        -moz-box-shadow: -1px 4px 26px 11px rgba(0,0,0,0.75);
        box-shadow: -1px 4px 26px 11px rgba(0,0,0,0.75);
    }
</style>
<div class="container-fluid bg">
    <div class="row">
        <div class="col-md-4 col-sm-4 col-xs-12"></div>
        <div class="col-md-4 col-sm-4 col-xs-12">
            <form class="form-container">
                <h1>Quiz App</h1>
                <div class="form-group">
                    <label for="email">Email</label>
                    <input type="email" name="email" id="email" class="form-control" placeholder="Email" />
                </div>
                <div class="form-group">
                    <label for="password">Password</label>
                    <input type="text" name="password" id="password" class="form-control" placeholder="Password" />
                </div>
                <button type="button" class="btn btn-success btn-block" onclick="SaveLoginForm();">Login</button>
                <a href="@Url.Action("GetAllCategories","Category")" style="color:white;float:right;margin-top:8px;">Start without membership</a>
            </form>
        </div>
        <div class="col-md-4 col-sm-4 col-xs-12"></div>
    </div>
</div>

<script>
    function SaveLoginForm() {
        let email = document.getElementById("email").value;
        let password = document.getElementById("password").value;

        $.ajax({
            url: "@Url.Action("SaveLoginPage", "Home")",
            type: "POST",
            data: { "email": email, "password": password },
            success: function (response) {
                if (response) {
                    window.location.href = "@Url.Action("GetAllCategories","Category")";
                }
                else {
                    alert("hata");
                }
            }
        });
    }
</script>