@model List<QuizzApp.Entities.Entities.Category>
@{
    ViewBag.Title = "LoginPage";
}
<style>
    body {
        background-color: #4679BD;
    }

    .category-box {
        position: relative;
        width: 100%;
        overflow: hidden;
        content: "";
        display: block;
        padding-top: 100%;
        border-radius: 40px;
    }

    .category-content {
        position: absolute;
        top: 30%;
        left: 0;
        bottom: 0;
        right: 0;
        color: white;
        text-align: center;
    }

    .category-bg-color-Medium {
        background: #e6e600;
    }

    .category-bg-color-Hard {
        background: #ff0000;
    }

    .category-bg-color-Easy {
        background: #33cc33;
    }
</style>
<div class="container" style="margin-top:100px;">
    <div class="row">
        @foreach (var category in Model)
        {
            <div class="col-md-4">
                <div class='category-box category-bg-color-@category.Level'>
                    <div class='category-content'>
                        <h3>@category.Name</h3>
                        <h5>Hardness Level: @category.Level</h5>
                        <button class="btn btn-default form-control" style="max-width:50%;" type="button" onclick="startQuiz(@category.Id)">Let's try it!</button>
                    </div>
                </div>
            </div>
        }
    </div>
</div>

<script>
    function startQuiz(categoryId) {
        console.log(categoryId);
    }
</script>